<div class="container-fluid">
    <div class="viewport missionCarousel" style="user-select:none;">
        <div class="leftArrow" ng-click="moveLeft();">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
        <div class="rightArrow" ng-click="moveRight();">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="carousel" style="transform:translateX({{left}}px);">
            <div ng-repeat="mission in missions" class="missionCard" ng-click="updateHeroes(mission.id);" ng-class="{isActive: mission.isActive}">
                <div class="missionCardTitle">
                    <h2>{{mission.companyName}}</h2><span>{{mission.description}}</span>
                </div>
                <div>
                    <div class="missionRole"><h4>{{mission.role}}</h4></div>
                </div>
                <div>
                    <div class="missionDetails">
                        <h3>Bevorzugte Skills</h3>
                        <ul>
                            <li ng-repeat="skill in mission.skillSet.skills">
                                {{skill}}
                            </li>
                        </ul>
                        <hr />
                    </div>
                    <div class="missionDescription">
                        <p class="missionCardDescription">
                            {{mission.description}}
                        </p>
                    </div>
                </div>
            </div>
            <div style="height:500px;"></div>
        </div>
    </div>

    
    <div class="viewport matchesCarousel" style="user-select:none;">
        <div class="leftArrow" ng-click="moveLeftHero();">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
        <div class="rightArrow" ng-click="moveRightHero();">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="carousel" style="transform:translateX({{leftHero}}px);">
            <div ng-repeat="match in matches" ng-click="showMission(match.mission)" class="matchCard" ng-class="{isActive: match.mission.isActive, joined: match.zoins != null, noRoleMatch: !match.score.roleMatching}">
                <div class="matchCardTitle avatar">
                     <img ng-src="{{match.hero.picturePath}}" />
                    <h2>{{match.hero.firstName}} {{match.hero.lastName}}</h2>
                </div>
                <div>
                    <div class="matchRole">{{match.hero.role}}</div>
                    <img class="matchBatch" ng-src="img/match_{{match.score.skillScore}}.png" />
                </div>
                <div>
                    <div class="matchDetails">
                        <h3>Projektbeschreibung</h3>
                        <p></p>
                         <p><span ng-repeat="(skill, skillMatch) in match.score.skillMatches" ng-class="{noSkill: skillMatch == 'No', educationTarget: skillMatch == 'EducationTarget' }"><span>{{skill}}</span>{{$last ? '' : ','}} </span></p>

                    </div>
                </div>
            </div>
            <div style="height:500px;"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">&nbsp;</div>
    </div>
</div>
