<div class="viewport" style="user-select:none;">
    <div class="leftArrow" ng-click="moveLeft();">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </div>
    <div class="rightArrow" ng-click="moveRight();">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="carousel" style="transform:translateX({{left}}px);">
        <div ng-repeat="match in matches" ng-click="showMission(match.mission)" class="matchCard" ng-class="{isActive: match.mission.isActive, joined: match.zoins != null, noRoleMatch: !match.score.roleMatching}">
            <div class="matchCardTitle row">
                <div class="matchCardTitleText col-sm-10">
                    <h2>{{match.mission.shortName}}</h2>
                    <span>{{match.mission.companyName}}</span>
                </div>
                <div class="zoinCounter col-sm-2" ng-show="match.zoins > 0"></div>
            </div>
            <div>
                <div class="matchRole">{{match.mission.role}}</div>
                <img class="matchBatch" ng-src="img/match_{{match.score.skillScore}}.png" />
            </div>
            <div>
                <div class="matchDetails">
                    <h3>Projektbeschreibung</h3>
                    <p>{{match.mission.description}}</p>
                     <p><span ng-repeat="(skill, skillMatch) in match.score.skillMatches" ng-class="{noSkill: skillMatch == 'No', educationTarget: skillMatch == 'EducationTarget' }"><span>{{skill}}</span>{{$last ? '' : ','}} </span></p>
                    
                    <br ng-if="match.zoins == null"/>
                    <hr ng-if="match.zoins == null"/>
                    <button ng-if="match.zoins == null" class="joinButton" ng-click="join(match.mission, 0)">Join</button>
                    <button ng-if="match.zoins == null" class="zoinButton" ng-click="join(match.mission, 1)">1 Zoin</button>
                </div>
            </div>
        </div>
        <div style="height:500px;"></div>
    </div>
</div>