<div class="icon-bar five-up">
    <a class="item" href="#/home">
        <img src="../img/fi-home.svg">
        <label>Home</label>
    </a>
    <a class="item" href="#/topics">
        <img src="../img/fi-bookmark.svg">
        <label>Topics</label>
    </a>
    <a class="item">
        <img src="../img/fi-info.svg">
        <label>Info</label>
    </a>
    <a class="item">
        <img src="../img/fi-mail.svg">
        <label>Mail</label>
    </a>
    <a class="item">
        <img src="../img/fi-like.svg">
        <label>Like</label>
    </a>
</div>